*
{
  margin: 0;
  padding: 0;
  outline: none;
}


.widget 
{
  position: relative;
  width: 80%;
  height: 100px;
  margin: 150px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 20px;
  box-shadow: 0px 31px 35px -26px #080c21;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.widget .left-panel
{
  position: relative;
}

.widget .date
{
  font-size: 12px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

.widget .city
{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

.widget .temp
{
  float: right;
  font-size: 70px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  padding-left: 10px;
}

.widget .panel
{
  display: inline-block;
}

.widget .right-panel
{
  position: relative;
  float: right;
  padding: 20px 0px 0px 10px;
}