/* 날씨 카드 */

*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #d22222;;
}

div.widget
{
  position: relative;
  width: 355px;
  height: 100px;
  margin: 150px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 20px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

/* div.left-panel
{
  
} */

div.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

div.temp
{
  float: right;
  font-size: 80px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

div.panel
{
  display: inline-block;
}

div.right-panel
{
  float: right;
  float: right;
  top: 0;
  margin-top: 20px;
  padding-left: 10px;
}