* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

div {
    width: 100%;
    height: 100%;
}

div.top {
    width: 100%;
    height: 8%;
    background-color: whitesmoke;
}

div.left {
    width: 80%;
    height: 92%;
    float: left;
    box-sizing: border-box;
    background: lightseagreen;
}

div.right {
    width: 20%;
    height: 92%;
    float: right;
    box-sizing: border-box;
    background: lightcoral;
}