* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper .top {
    width: 100%;
    height: 8%;
    background-color: whitesmoke;
}

.wrapper .left {
    width: 80%;
    height: 92%;
    float: left;
    box-sizing: border-box;
    background: lightseagreen;
}

.wrapper .right {
    width: 20%;
    height: 92%;
    float: right;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: lightcoral;
}