* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

div {
    width: 100%;
    height: 100%;
}

div.left {
    width: 80%;
    float: left;
    box-sizing: border-box;

    background: lightseagreen;
}

div.right {
    width: 20%;
    float: right;
    box-sizing: border-box;

    background: lightcoral;
}